@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
    --primary-color: rgb(37, 37, 153);
    --light-gray: #E5E7EB;
}

body, html{
    
    font-family: 'Roboto Slab', serif;
    margin: auto;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color:white;
	background-color: black;
	border: 2px solid rgb(37, 37, 153);
	
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/**.hr{
    margin: 2rem 0rem;
}**/

/* .Navigation {
    background-color: black;
    padding: 1rem;  
    border-bottom-left-radius: 0rem;
    font-family: 'Roboto Slab', serif; 
}

.Navigation .container{
    padding: 0rem 1rem;
    
}

.Navigation .Nav-brand {
    font-weight: bold;
}

.Navigation .Nav-pills{
    text-align: right;
}

.Navigation .btn{
    border: 2px solid rgb(37, 37, 153);
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    cursor: pointer;
}



.Navigation .Link{
    text-decoration: none;
    color:white;
}

.Navigation .Link-active{
    font-weight: bold;
}

.List-non-bullet{
    list-style: none;
}

.Listitem {
    display: inline;
    padding: 0.5rem 1rem 1.5rem;
    
} */

#hero {
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

.text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 4px solid rgb(37, 37, 153);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: larger;
}
/* #hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 2.5rem;
	position: relative;
	color: black;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
} */
/* #hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
} */
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: black;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}






.name{
    color: black;
}
 */
/**.imageOne-img{
   
    width: 1518px;
    height: 1500px; 
    
}**/

/**.center{
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}**/
/* .imageOne{
    max-width: 1518px;
    max-height: 1500px;
    min-width: 400px;
    min-height: 500px;
    padding: auto;
    width:max-content;
    
}

.center{

    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 4px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: larger;
    
}

.container1{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.container1 .box{
    
    text-align: center;
} */
/**.center{
    background-size: auto;
    position: relative;
}**/

.iconcontainer{
    display: inline;
    padding: 1rem 2rem 3rem 4rem;
}

