@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
    --primary-color: rgb(37, 37, 153);
    --light-gray: #E5E7EB;
}

body, html{
    
    font-family: 'Roboto Slab', serif;
    margin: auto;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: rgb(37, 37, 153);
}

.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color:white;
	background-color: rgb(54, 52, 52);
	border: 2px solid rgb(37, 37, 153);
	
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(37, 37, 153);
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(37, 37, 153);
}



/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgb(26, 25, 25);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(26, 25, 25);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(26, 25, 25);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(37, 37, 153);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/**.hr{
    margin: 2rem 0rem;
}**/



#hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

.text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 4px solid rgb(37, 37, 153);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%;
	
    padding: 20px;
    text-align: center;
    font-size: larger;
}


/* #hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 2.5rem;
	position: relative;
	color: black;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
} */
/* #hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
} */
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: black;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

.name{
	color: rgb(37, 37, 153);
}




#about {
    background-image: url(./images/about.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}

.about-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.about-title span {
	color: rgb(37, 37, 153);
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: white;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 4px solid crimson;
	z-index: -1;
}


/* Services Section */
#skills {
    background-image: url(./images/skill.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}

.skill-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.skill-title span {
	color: rgb(37, 37, 153);
}

#skills .skills {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 1rem;
	padding: 10px 0;
    
}
#skills .skill-top {
    padding-top: 11rem;
	max-width: 500px;
	margin: 0 auto;
}
#skills .skill-bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
}
#skills .skill-item {
	flex-basis: 20%;
	display: table-cell;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 5px;
	border-radius: 1px;
	
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#skills .skill-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #8492a1 0%, #c1c9d1 100%);
	opacity: 0.4;
	z-index: -1;
}
#skills .skill-bottom .icon {
	height: 80px;
	width: 40px;
	margin-bottom: 20px;
}
#skills .skill-item h2 {
	font-size: 1.5rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#skills .skill-item p {
    font-size: 1rem;
	color: black;
	text-align: left;
}
/* End Services Section */



/* Projects section */
#projects {
    background-image: url(./images/prj0.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
	
}

/* #projects .project-card::after {
	position: absolute;
	box-sizing: 300px 300px;
	box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
	font-weight: bold;
	background-image: linear-gradient(60deg, #d31eb5 0%, #376ca0 100%);
	opacity: 0.4;
	z-index: -1;
	filter: blur(2rem);
} */
.project-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.project-title span {
	color: rgb(37, 37, 153);
}

.subtext {
    font-size: 15px;
    font-weight: bold;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
	
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
	
}

 .project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(240, 197, 81);
    margin: 10px;
	font-weight: bold;
	background:transparent;
	
} 

.project-container {
    display: flex;
    justify-content: space-around;
	
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
		
    }
}



hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
	background-color: rgb(37, 37, 153);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: white;
	
}

/* End Projects section */

/* blog section start */

#blogs {
    background-image: url(./images/gray.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
	opacity: 1rem;
}
.blog-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.blog-title span {
	color: rgb(37, 37, 153);
}
.blog-card {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(20, 18, 18);
    margin: 10px;
	font-weight: bold;
	background: transparent;
	z-index: -1;
	
}

.blog-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .blog-container {
        display: flex;
        flex-wrap: wrap;
    }
}



hr {
    margin-left: 20px;
    margin-right: 20px;
}

.blog-link {
	background-color: rgb(37, 37, 153);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: center;
    
}

/* blog section end */

/* contact section start */

#contact {
    background-image: url(./images/cnt.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}
.contact-title {
	font-size: 4rem;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	padding-top: 5rem;
}
.contact-title span {
	color: rgb(37, 37, 153);
}

.contact{
	height: 100%;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.para {
	font-size: 1.5rem;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
}

.social {
    
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	
}

/* contact section end */


