@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
    --primary-color: #047857;
    --darkgray: rgb(53, 48, 48);
}

body, html{
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
	padding: 0;
}

a{
    text-decoration: none;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}


.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: rgba(27, 141, 52, 0.459);
}

.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.para {
	font-size: 1.2rem;
	font-weight: 300;
	color: black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	letter-spacing: .1rem;
	text-align: center;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color:white;
	background-color: rgb(30, 30, 31);
	border: 2px solid var(--primary-color);
	
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: var(--primary-color);
}

.brand h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: rgb(53, 48, 48);
}
.brand h1 span {
	color: var(--primary-color);
	font-size: larger;
}

.subtext {
    font-size: 14px;
    font-weight: bold;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}




/* nav section start */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-image: linear-gradient(to right, #FCD34D, #FCA5A5, #A78BFA);
	transition: .3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(75, 66, 66);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(35, 139, 44);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: var(--primary-color);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid var(--primary-color);
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--primary-color);
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--primary-color);
	transition: .3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}
/* nav section end */

/* hero section start */
#hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

.text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 4px solid var(--primary-color);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: black;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}

#hero h1:nth-child(1) span {
	animation-delay: .5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

.name{
	color: #059669;
}
/* hero section start */

/* about section start */
#about {
    background-image: linear-gradient(to right, #d4e4eb, #b1d8df, rgb(139, 236, 236));
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}
.about-title {
	font-size: 3.2rem;
	font-weight: 300;
	color: var(--darkgray);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
}
.about-title span {
	color: var(--primary-color);
}
.sub-title span{
	font-weight: bolder;
	color: var(--primary-color);
}
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
/* about section end */

/* skill section start */
#skills {
    background-image: linear-gradient(to right, #d9dbd8, #c7c7cc, rgb(146, 151, 146));
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}
.skill-title {
	font-size: 3.2rem;
	font-weight: 300;
	color: var(--darkgray);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	padding-bottom: 3rem;
}
.skill-title span {
	color: var(--primary-color);
}
.skill-cardh {
	
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: relative;
	width: 200px;
	height: 200px;
}
.icon {
	display: block;
	
	
}
.overlay {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #939b99;
  }
  
  .skill-cardh:hover .overlay {
	opacity: 1;
  }
 .skill-card {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(46, 192, 192);
    margin: 10px;
	font-weight: bold;
	background-color: rgba(98, 147, 194, 0.24);
	padding-top: 2rem;
} 
.skill-container {
	padding-top: 1rem;
	padding-left: 1rem;
    display: inline-flex;
    justify-content: space-around;
	padding-bottom: 3rem;
}
.subtext-sk {
    font-size: 14px;
    font-weight: bold;
}
@media only screen and (max-width: 1000px) {
    .skill-container {
        display: flex;
        flex-wrap: wrap;
    }
}
/* skill section end */

/* project section start */
#projects {
    background-image: linear-gradient(to right, #d4e4eb, #b1d8df, rgb(139, 236, 236));
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}
.project-title {
	font-size: 3.2rem;
	font-weight: 300;
	color: var(--darkgray);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	padding-bottom: 4rem;
}
.project-title span {
	color: var(--primary-color);
}
 .project-card {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(22, 22, 22);
    margin: 10px;
	font-weight: bold;
	background-color: rgba(98, 147, 194, 0.24);
	padding: 5px;
} 
.project-container {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-link1 {
	background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}
.project-link2 {
	background-color: transparent;
	border: 1.3px solid var(--primary-color);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.4rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 0.4rem;
    text-align: center;
	color: var(--primary-color);
}
/* project section end */

/* blog section start */

#blogs {
    background-image: linear-gradient(to right, #d9dbd8, #c7c7cc, rgb(146, 151, 146));
    background-size: cover;
    background-position: top center;
	position: relative;
	z-index: 1;
}
.blog-title {
	font-size: 3.2rem;
	font-weight: 300;
	color: var(--darkgray);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	padding-bottom: 4rem;
}
.blog-title span {
	color: var(--primary-color);
}
.blog-card {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 20px rgb(23, 26, 23);
    margin: 10px;
	font-weight: bold;
	background-color: rgba(78, 55, 31, 0.24);
	padding: 5px;	
}
.blog-container {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .blog-container {
        display: flex;
        flex-wrap: wrap;
    }
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
.blog-link {
	background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}

/* blog section end */

/* contact section start */


*{
	box-sizing: border-box;
}
.cnt-section{
	height: 110vh;
	width: 100%;
	background-image: linear-gradient(to right, #d4e4eb, #b1d8df, rgb(139, 236, 236));
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}
.cnt-section h1{
	text-align: center;
	color: var(--darkgray);
	font-size: 4rem;
	font-weight: 300;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	padding-top: 1rem;
}
h1 span{
	color: var(--primary-color);
}
.containerz{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0px 0px 20px rgb(49, 48, 48);
	background-color: rgb(119, 176, 184);
	border-radius: 8px;
	margin-bottom: 30px;
	margin-top: 30px;

}
.form-group{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	font-size: 20px;

}
.form-group input,
.form-group textarea{
	width: 100%;
	padding: 10px;
	font-size: 10px;
	border: 1px solid rgba(0,0,0, 0.4);
	margin-top: 5px;
}
textarea{
	resize: vertical;
}
button[type="submit"]{
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 24px;
	border-radius: 8px;
	color: rgb(59, 53, 53);
	text-align: center;
	cursor: pointer;
	margin-top: 30px;
	transition: .3s ease background-color;
}
button[type="submit"]:hover{
	background-color: rgb(52, 221, 94);
}


/* contact section end */

.foot{
	background-image: linear-gradient(to right, #FCD34D, #FCA5A5, #A78BFA);
	margin-top: 0;
	height: 25vh;
	padding: 1px;
}
.foot h1{
	text-align: center;
	color: var(--darkgray);
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: .1rem;
	
}
.social{
	margin: 0;
	padding: 0.7rem;
	
}

/* .contact-container{
	text-align: left;
	justify-content: space-around;
	padding: 10px;
	
}
.social{
	align-items: right;
} */

